body{
	background-color: #ffffff;
	margin: 0px;
}

header{
	background-color: #ded592;
	padding-left: 10%;
}
header nav ul{
	display: inline;
}

header nav ul li{
	display: inline;
	padding-left: 5%;
	width: 20%;
}

.sublist-main-navigation{
	display: block;
}


h1{
	font-size: 20px;
}

#wrapper{
	width: auto;
	margin-left:auto;
	margin-right: auto;
	background-color: #abdae2;
	padding-left: 10%;
	overflow: hidden;
}

/*INLINER*/

#content-inliner{
	display: inline;
	width: auto;
}

/* BLOK MENU SIDE LEFT */

#categorie-menu{
	float: left;
	padding-left: 3%;
	background-color: white;
}

/*CONTENT RECHTKANT PAGINA */

#content-page{
	padding-right: 10%;
	float: left;
	padding-left: 10%;
	width: 50%;
	overflow: hidden;

}

#content-page ul{
	list-style-type: none;
}

#content-page ul li{

}

.breadcrumb{
	margin-left: -10%;
	float: left;
}
/* <--------FOOTER----------> */
footer{
	width: auto;
	min-height: 120px;
	padding-left: 10%;
	clear: both;
}
#footer-wrapper{
	display: block;

}
#content{
	display: block;

}

footer ul{
	width: 20%;
	float: left;
	list-style-type: none;
}

.footer-menu{
	text-decoration: underline;
	color: black;
}

.footer-menu li a{
	color: black;
}

.product-overview{
	float:left;
	width: 42%;
}

.product-overview li{
	max-width: 80%;
	min-width: 250px;
	height: 200px;
	background-color: white;
	margin-bottom-bottom: 10px;
	border-bottom: solid #abdae2 80px;
}

