@font-face {
    font-family: 'arapeyitalic';
    src: url('../font/arapey-italic-webfont.eot');
    src: url('../font/arapey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/arapey-italic-webfont.woff') format('woff'),
         url('../font/arapey-italic-webfont.ttf') format('truetype'),
         url('../font/arapey-italic-webfont.svg#arapeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arapeyregular';
    src: url('../font/arapey-regular-webfont.eot');
    src: url('../font/arapey-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/arapey-regular-webfont.woff') format('woff'),
         url('../font/arapey-regular-webfont.ttf') format('truetype'),
         url('../font/arapey-regular-webfont.svg#arapeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}