/* ==========================================================================
    GLOBALS
============================================================================= */

html, 
body {
    height: 100%;
    font-family: 'arapeyregular';
    background-color: #abdae2;
}

.clear-fix {
    clear: both;
}

i,
.italic {
    font-family: 'arapeyitalic';
}
.warning {
    padding: 20px 25px;
    margin-bottom: 25px;
    background-color: #aa5f7e;
    color: #fff;
    animation: animate-warning 0.5s;
    -webkit-animation: animate-warning 0.5s; /* Safari and Chrome */
}
.success {
    padding: 20px 25px;
    margin-bottom: 25px;
    background-color: #918a53 ;
    color: #fff;
    animation: animate-warning 0.5s;
    -webkit-animation: animate-warning 0.5s; /* Safari and Chrome */
}
.button {
    background-color: #bebebe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    text-decoration: none;
}
.button:hover {
    background-color: #9b9b9b;
}
/* Animations */
@keyframes animate-warning {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
@-webkit-keyframes animate-warning {
    from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

a{
    color: #000;
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 1200px) {
}

/* ==========================================================================
    WRAPPER
============================================================================= */

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -160px;
    position: relative;
    overflow: hidden;
}

/* ==========================================================================
    SPACER
============================================================================= */

.spacer {
    height: 160px;
}

/* ==========================================================================
    MAIN INNER
============================================================================= */

.main {
    width: 100%;
    margin: 0 auto 50px;
}
.inner {
    margin: 0 auto;
    width: 717px;
    padding: 0px 25px;
    position: relative;
}

@media (max-width: 767px) {
    .inner {
        width: 430px;
    }
}
@media (max-width: 480px) {
    .inner {
        width: auto;
    }
}
@media (min-width: 1200px) {
    .inner {
        width: 1150px;
    }
}

/* ==========================================================================
    HEADER
============================================================================= */

.header {
    border-bottom: solid 2px #fff;
}
.header__top {
    background: #fff;
}
.header__bottom {
    background-color: #ded592;
    padding: 20px 0px;
}
.header__logo {
    width: 250px;
    height: 138px;
    margin: 20px 0px;
    float: left;
}
.header__account {
    float: right;
}

.header .login {
    padding:0;
    float:right;
}

.header .links a {   
	padding: 0px 0px 0px 7px;
	text-decoration: none;
}
.header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}

@media (max-width: 767px) {
    .header__logo {
        width: 100%;
        text-align: center;
    }
    .header__logo a {
        margin: 0 auto;
    }
    .header__account {
        width: 100%;
    }
}
@media (max-width: 480px) {}
@media (min-width: 1200px) {}

/* SEARCH */

.search {
    float: left;
    width: 250px;
}
.search__input-holder {
    background-color: #fff;
    float: left;
}
.search__input-holder input:focus {
    outline: none;
}
.search__input-holder input {
    background: none;
    border: none;
    width: 149px;
    padding: 16px 25px;
}
.search__form-submit {
    float: right;
    cursor: pointer;
}
@media (max-width: 480px) {
    .search {
        width: 200px;
    }
    .search__input-holder input {
        width: 98px;
    }
}

.actueel {
    margin:auto;
    width:981px;
    padding-bottom: 20px;
}

/* ==========================================================================
    GLOBAL NAV
============================================================================= */

.global-nav__container {
    min-width: 300px;
    position: absolute;
    right: 25px;
}
.global-nav__button {
    float: right;
}
.global-nav {
    position: absolute;
    top: 99px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    border: solid 2px #abdae2;
}
.global-nav ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
}
.global-nav ul li {
    overflow: hidden;
    padding: 0px 25px;
}
.global-nav ul li a {
    padding: 15px 0px;
    float: left;
    width: 100%;
    text-decoration: none;
    color: #aa5f7e;
}
.global-nav ul li a:hover {
    color: #000;
}
.global-nav--inactive {
    display: none;
}
.global-nav--isactive {
    display: block;
    animation: animate-global-nav 0.5s;
    -webkit-animation: animate-global-nav 0.5s; /* Safari and Chrome */
}

@media (max-width: 480px) {
    .global-nav__container {
        min-width: 250px;
    }
}

/* Animations */
@keyframes animate-global-nav {
    from {
    opacity: 0;
    top: 0;
}
to {
    opacity: 1;
    top: 99px;
}
}
@-webkit-keyframes animate-global-nav {
    from {
    opacity: 0;
    top: 0;
}
to {
    opacity: 1;
    top: 99px;
}
}

/* ==========================================================================
    CATEGORIE
============================================================================= */

.content {
    margin-top: 25px;
}

/* ==========================================================================
    CATEGORIE
============================================================================= */

.category-menu {
    float: left;
    min-width: 200px;
    background: #fff;
    padding: 25px;
    border-bottom: solid 2px #aa5f7e;
}
.category-menu ul {
    list-style: none;
    padding: 0;
}
.category-menu h1 {
    margin: 0px 0px 20px 0px;
    color: #aa5f7e;
}
.category-menu a{
	color: #aa5f7e;
}

@media (max-width: 767px) {
    .category-menu {
        min-width: 380px;
        max-width: 380px;
        padding: 25px;
        margin-bottom: 10px;
    }
    .category-menu ul {
        display: none;
    }
}
@media (max-width: 480px) {
    .category-menu {
        min-width: 0px;
        max-width: 380px;
        width: auto;
    }
}
@media (min-width: 1200px) {
    .category-menu {
        min-width: 200px;
        padding: 25px;
    }
}

/* ==========================================================================
    PRODUCT OVERVIEW
============================================================================= */

.product-overview {
    width: 425px;
    margin: 0px 0px 0px 25px;
    float: right;
}
.product-overview__breadcrumb {
    color: #fff;
    border-bottom: solid 1px #fff;
    height: 25px;
}
.product-overview__breadcrumb a {
    color: #fff;
}
.product {
    width: 400px;
    min-height: 50px;
    margin: 25px 25px 0px 0px;
    float: left;
}
.product h1 {
    color: #918a53;
    font-size: 20px;
    margin: 0;
    padding: 0 0 10px 0;
}
.product a {
    color: #918a53;
    text-decoration: none;
}
.product__img {
    width: 91px;
    float: left;
    margin-right: 18px;
    overflow: hidden;
    padding: 20px 0px;
    text-align: center;
    background-color: #fff;
    min-height: 210px;
    border-bottom: #918a53 2px solid;
}
.product__content {
    float: left;
    width: 270px;
    background-color: #fff;
    padding: 10px 10px 20px 10px;
    min-height: 210px;
    border-bottom: #918a53 2px solid;
}
.product__content-visual {
    width: 180px;
    height: 180px;
    float: left;
}
.product__content-description{

}
.product__content-price {
    vertical-align: text-top;
    float: right;
    padding-top:38px;
}
.product__content-price a {
    text-decoration: none;
    color: #aa5f7e;
    font-size: 20px;
}

@media (max-width: 767px) {
    .product-overview {
        width: 100%;
        margin: 0px 0px 0px 25px;
        float: right;
    }
    .product {
        width: 430px;
        margin: 25px 0px 0px 0px;
    }
    .product__content {
        width: 300px;
    }
}
@media (max-width: 480px) {
    .product-overview {
        width: 100%;
        margin: 0px 0px 0px 25px;
        float: right;
    }
    .product {
        width: 100%;
        background-color: #fff;
        border-bottom: #918a53 2px solid;
    }
    .product__content-title h1 {
        margin: 10px 0px;
        padding-bottom: 20px;
        
    }
    .product__content-price {
        margin: 0px 10px 10px 0px;
    }
    .product__img {
        margin-right: 0px;
        border: none;
    }
    .product__content {
        float: right;
        padding: 0px;
        width: 160px;
        border: none;
    }
    .product__content-visual {
        float: right;
    }
}
@media (min-width: 1200px) {
    .product-overview {
        width: 850px;
        margin: 0px 0px 0px 25px;
        float: right;
    }   
}

/* ==========================================================================
    REGISTER
============================================================================= */

.top {
    padding: 25px;
    background-color: #fff;
    margin: 25px 0px;
}
.top h1 {
    margin-top: 0px;
}
.form {
    padding: 25px;
    background-color: #fff;
}
.error {
    margin-top: 5px;
    color: #aa5f7e;
    text-align: right;
}
.form__input-holder {
    padding: 10px 0px;
}
.form__input-holder label {
    width: 150px;
    display: inline-block;
}
.form__input-holder input:focus {
    outline: 0;
    background-color: #9b9b9b;
}
.form__input-holder select {
    width: 200px;
}
.form__input-holder input {
    padding: 10px;
    border: 0;
    background-color: #bebebe;
    width: 200px;
}
.form__input-holder textarea {
    border: solid 1px #bebebe;
    margin: 10px 0px;
    resize: none;
    width: 100%;
}
.form__input-holder textarea:focus {
    border: solid 1px #9b9b9b;
    outline: 0;

}
.form__checkbox-holder {
    margin: 20px    ;
}
.form__checkbox-holder input,
.form__checkbox-holder label {
    display: inline-table;
    margin-right: 10px;
}
.form__button-holder {
    margin: 20px 0px;
}
.form__button-holder .left {
    float: left;
}
.form__button-holder .right {
    float: right;
}
.submit-button {
    float: right;
    background-color: #aa5f7e;
    color: #fff;
    padding: 10px 20px;
    border: none;
}
@media (max-width: 767px) {
    .form__input-holder input {
        width: 200px
    }
    .form__input-holder label {
        width: 150px;
    }
    .form__input-holder select {
        width: 200px;
    }
}
@media (max-width: 480px) {
    .form__input-holder select,
    .form__input-holder input,
    .form__input-holder label {
        width: 90%;
    }
    .submit-button {
        margin-top: 20px;
    }
}
@media (min-width: 1200px) {
    .form__input-holder label {
        width: 200px;
    }
    .form__input-holder select,
    .form__input-holder input {
        width: 575px;
    }
}

/* ==========================================================================
    CONTENT OVERVIEW
============================================================================= */

.account-login__content,
.overview-content {
    margin-top: 25px;
    padding: 25px;
    background-color: #fff;
}

/* ==========================================================================
    WIJNREK
============================================================================= */

.wijnrek__wine {
    width: 350px;
    padding: 25px;
    background-color: #fff;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}
.wijnrek__wine h1 {
    margin-top: 0px;
}
.wijnrek__wine h1 a {
    text-decoration: none;
}
.wijnrek__wine-id {
    color: #918a53;
    font-size: 18px;
    font-weight: bold;
}
.wijnrek__col-left {
    width: 50px;
    float: left;
}
.wijnrek__col-right {
    width: 250px;
    float: right;
}
.wijnrek__col-bottom {
    float: left;
    width: 100%;
}
.wijnrek__wine-img {
    width: auto;
    height: 180px;
}
.wijnrek__wine-visual {
    width: 250px;
    float: right;
    height: 250px;
    background-color: #ded592;
}

/* ==========================================================================
    FOOTER
============================================================================= */

.footer {
    background: #fff;
    width: 100%;
    min-height: 160px;
    position: relative;
    z-index: 1;
    /*margin-top: 25px;*/
}
.footer__col {
    width: 100%;
    margin: 0px 25px;
    float: left;
}
.footer__col--first {
    margin: 0px 25px;
}
.footer__col--last {
    margin: 0px 25px; 
}
.footer__nav {
    list-style: none;
    padding: 0;
}
.footer__nav a {
    color: #000;
}

@media (max-width: 767px) {
    .footer__col {
        width: 320px;
        margin: 0px;
    }
    .footer__col--first {
        margin: 0px; 
    }
    .footer__col--last {
        margin: 0px; 
    }
}
@media (max-width: 480px) {
    .footer__col {
        width: 100%;
        margin: 0px;
    }
}
@media (min-width: 1200px) {
    .footer__col {
        width: 250px;
    }
    .footer__col--first {
        margin: 0px 25px 0px 0px; 
    }
    .footer__col--last {
        margin: 0px 0px 0px 25px; 
    }
}

/* ==========================================================================
    ICONS
============================================================================= */

.icon-pancake {
    background-image: url('../img/icon-pancake.jpg');
    background-size: 51px 50px;
    width: 51px;
    height: 50px;
    display: inline-block;
}
.icon-magnifyglass {
    background-image: url('../img/icon-magnifyglass.jpg');
    background-size: 51px 50px;
    width: 51px;
    height: 50px;
    display: inline-block;
}
.icon-arrow-right {
    background-image: url('../img/icon-arrow-right.png');
    background-size: 8px 17px;
    width: 8px;
    height: 17px;
    display: inline-block;
}